@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat|Quicksand');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif; */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  color: white;
  min-width: 70rem;
  margin: 0;
}

button {
  outline: none;
  border: 1px solid black;
  background-color: black;
  color: white;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  transform: translateY(1px);
}

canvas {
  background-color: white;
}

ul {
  list-style-type: none;
}

ul.nav-list {
  margin-top: 0;
  text-align: right;
}

li.nav-items {
  display: inline;
}

.dice {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  display: inline-grid;
  position:relative;
  z-index: -1;
}

.logo {
  z-index: 0;
}

.navbar {
  height: 13rem;
  background-color: black;
  border-bottom: solid #333;
  position: sticky;
  top: -208px;
  margin-bottom: 5%;
}

.home {
  min-height: 100vh;
  background-color: white;
  color: black;
  opacity: 1;
  transition: 1s;
}

.home.hidden {
  opacity: 0;
  transition: 1s;
}

.navigation-btns-container {
  display: block;
  position: sticky;
  top: 0;
  background: black;
}

.navigation-btns {
  font-size: 1.4em;
  display: inline;
}

.page-body {
  margin: 0 5%;
}

.site-name {
  font-family: 'Monoton', cursive;
  font-size: 300%;
  color: white;
  position: absolute;
  top: 4rem;
  left: 21.152%;
}

.welcome {
  transition: transform 4s;
}

.welcome.zoom {
  transform: scale(0.001);
}

.welcome-text {
  text-align: center;
  font-family: 'Monoton', sans-serif;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px black;
  opacity: 1;
  transition: 2s;
}

.welcome-text.hidden {
  opacity: 0;
  transition: 2s;
}
